body {
    background-color: rgb(225, 225, 225);
}

.portfolio {
    background-color: lightblue;
    position: fixed;
    width: 99%;
}
#main {
    display: inline-block;
    position: relative;
    left: 10%;
}

#navbar {
    display: inline-block;
    position: relative;
    left: 75%;
}

#aboutme {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
}
#firstimage {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 40px;
    left: 10%;
    z-index: -1;
}

#textabtm {
    display: inline-block;
    width: 40%;
    position: relative;
    top: 100px;
    left: 15%;
    z-index: -1;
}

#myprojs {
    margin-top: 100px;
    margin-bottom: 100px;
}

#projects, details {
    display: block;
    margin-left: 35%;
    z-index: -1;
}


details img {
    width: 400px;
    height: 300px;
}

h4 {
    width: 400px;
}

footer {
    background-color: lightblue;
    margin: 100px;
}

@media only screen and (max-width: 425px) {
    .portfolio {
        background-color: lightblue;
        position: fixed;
        width: 83%;
    }
    
    #navbar {
        display: inline-block;
        position: relative;
        left: 30%;
    }
   
    #firstimage {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 40px;
        left: 5%;
        z-index: -1;
    }

    #textabtm {
        display: inline-block;
        width: 80%;
        position: relative;
        top: 20%;
        left: 15%;
        z-index: -1;
        margin-top: 30px;
    }

    #projects, details {
        display: block;
        margin-left: 15%;
        z-index: -1;
    }

    footer {
        display: inline-block;
        background-color: lightblue;
        width: 113%;
        margin-left: 0%;
    }
}
    